[Unit]
Description=Simple server to get information about a web page
After=network.target

[Service]
Environment="OPENAI_API_KEY=Your api key"
ExecStart=/usr/local/bin/autoref
Type=simple

[Install]
WantedBy=multi-user.target
